/* RESET GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CORPO DA PÁGINA */
body{
    background-color: #FFF8DC;
    color: #2F1B0C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

/* Centraliza o conteúdo principal*/
header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* IMAGENS */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.logo {
    width: 100px;
}

.fachada {
    width: 100%;
}

/* TÍTULOS */

h1 {
    font-size: 48px;
    color: #8B0000;
    margin-bottom: 10px;
}

h2 {
    font-size: 32px;
    color: #2F1B0C;
    margin-bottom: 10px;
}


/* PARÁGRAFOS */
p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}


/* NAVEGAÇÃO */
nav{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #8B0000;
    border-radius: 5px;
}

nav a{

    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover{
    background-color: #A52A2A;
    text-decoration: underline;
}

/* Main */
main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

section{
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
}


article {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

article p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}

.preco {
    font-weight: bold;
    color: #8B0000;
    font-size: 18px;
    margin-top: 5px;
    background-color: #FFE4B5;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 5px;
}

.secao-burgers {
    background-color: #FFEFDB;
}
.secao-porcoes {
    background-color: #FFFACD;
}
.secao-sobremesas {
    background-color: #FDEBD0;
}


.secao-burgers, .secao-porcoes, .secao-sobremesas {
    display:flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* TÍTULOS ESPECÍFICOS */
.titulo-sobre {
    font-size: 30px;
    color: #8B0000;
}

.titulo-reserva {
    margin-top: 20px;
    font-size: 28px;
    color: #8B0000;
    background-color: #FFD700;
    padding: 10px;
    border-radius: 5px;
}

/* Estilização do formulário */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFF8DC;
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #8B0000;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}